@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', 'Anek Telugu', sans-serif;
}

body {
  font-family: 'Plus Jakarta Sans', 'Anek Telugu', sans-serif;
  background-color: #09090b; /* zinc-950 */
  color: #fafafa;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}
